body {
    background: rgb(243, 244, 246);
    margin: 0;
    font-family: "Roboto", serif;
    color: rgb(52, 52, 52);
}

header {
    background: rgb(52, 52, 52);
    color: white;
    text-align: center;
    font-size: 32px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(52, 52, 52);
    color: white;
    text-align: center;
    font-size: 32px;
}

.form {
    border-color: black;
    border-width: 10px;
}

.form div input {
    width: 50px;
}

#step {
    margin-top: 42px;
}

#tester {
    width: 90%;
    height: 250px;
}

button {
    background-color: rgb(52, 52, 52);
    color: white;
    text-align: center;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(75, 75, 75);
}